.root {
  /* composes: root from 'components/ui/Button/Button.module.css'; */
  @apply h-md w-md  mr-3 inline-flex text-center hover:shadow-outline-normal
  items-center justify-center cursor-pointer transition duration-150 ease-in-out
  p-0 shadow-none border-gray-200 border box-border tracking-normal 
  focus:outline-none;
}
.icon {
  @apply text-sm contents;
}
.size {
  @apply h-md w-md   text-xs overflow-hidden text-text hover:text-text p-2 leading-7 border border-transparent hover:border-gray-200  bg-transparent hover:bg-transparent;
  &.active {
    @apply border-black;
  }
  &.disabled {
    @apply text-accents-4;
    pointer-events: none;
    cursor: not-allowed;
  }
}
.color {
  @apply text-black transition duration-150 ease-in-out  bg-accents-3 text-primary rounded-full;
  & > span {
    @apply absolute;
  }
  &.active {
    @apply ring-1 ring-black;
  }
  &.dark,
  &.active,
  &.dark:hover {
    color: white !important;
  }
}
